# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName www.deballetboetiek.nl
AuthUserFile /home/virtual/site54/fst/var/www/html/_vti_pvt/service.pwd
AuthGroupFile /home/virtual/site54/fst/var/www/html/_vti_pvt/service.grp
